// -----------------------------------------------------------------------------
// This file contains all the icons galery
// -----------------------------------------------------------------------------
//// Helper buttons ////
.icon_line{
    border-right: 1px solid transparent;
    border-right-color: inherit;
    padding-right: .5em;
    margin-right: .5em;
}


.icon_fb{
    background-image: preload-img('facebook.png');

}

.icon_lkin{
    background-image: preload-img('Linkedin.png');
}


.icon_caret{

    &:after{
        content: '';

        display: block;
        /* background: url("icon.jpg") no-repeat; */
        width: 20px;
        height: 20px;
        float: right;
        /* margin: 0 6px 0 0; */
        position: relative;


        top: -7px;
        right: 47px;

        background-image: preload-img('caret-black.png');
        background-repeat: no-repeat;

        @include breakpoint(desktop){

            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -o-transition: .3s ease;
            transition: .3s ease;

            top: -10px;
            right: 5px;
            background-image: preload-img('caret-white.png');

        }


    }

    &.open{

        &:after{
            top:0;
            right: 38px;

            @include breakpoint(desktop){
                right: -4px;
            }

            -webkit-transform: rotate(-180deg);     /* Chrome and other webkit browsers */
            -moz-transform: rotate(-180deg);        /* FF */
            -o-transform: rotate(-180deg);          /* Opera */
            -ms-transform: rotate(-180deg);         /* IE9 */
            transform: rotate(-180deg);             /* W3C compliant browsers */
        }
    }

}
