// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

html, body {
    margin: 0;
    height: 100%;
}

body {
    //background: image-url("background.jpg") no-repeat center center fixed;
    //-webkit-background-size: cover; /* For WebKit*/
    //-moz-background-size: cover;    /* Mozilla*/
    //-o-background-size: cover;      /* Opera*/
    //background-size: cover;         /* Generic*/
    background-color: black;
}
