// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    width: 100%;
    font-family: "RobotoRegular" , sans-serif;
    color: #fafafa;
    height: $header_height;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background-color: rgba(18, 18, 22, 0.53);

    @include breakpoint(desktop){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        transition: all .3s ease;
    }

    .logotipo {
        margin: 0;
        height: auto;

        @include breakpoint(desktop){
            display: flex;
            justify-content: center;

            width: 25%;
        }

        img{
            width: 182px;
            height: 46px;
        }
    }

    .nav_menu {
        @include single-transition(right, .3s, ease, 0s);

        display: flex;

        font-family: 'RobotoRegular', sans-serif;

        button, a{

            cursor: pointer;
            -webkit-user-select: none;

            @include on-event(){
                opacity: 0.6;

            }
        }

        .nav_list{
            display: flex;

            //Default visual for a element inside subitems
            .nav_subitems{
                max-height: 0;
                transition: max-height .300s linear 0s;
                z-index: -1;

                li{
                    visibility:hidden;

                    transition:  visibility 0s linear .150s;
                }

                &.nav_visible{
                    transition: max-height.300s linear 0s;

                    max-height: 500px;


                    li{
                        visibility:visible;
                        transition: visibility 0s linear .150s;
                    }
                }

                a{
                    color: $mid-grey;
                    height: 100%;
                    width: 100%;
                    padding: 0 28px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }


            }
        }


        @include breakpoint(phone){
            background-color: $white_alpha20_color;

            flex-direction: column-reverse;
            justify-content: flex-start;

            position: fixed;
            right: -300px;
            top: 0;

            height: 100%;
            width: 270px;

            z-index: 49;

            padding-left: 0;

            .nav_list {
                flex-direction: column;
                justify-content: flex-start;

                color: cadetblue;
                height: 100%;
                padding: 0;
                margin: 0;

                overflow: auto;

                .nav_list_wrapper {
                    border-bottom: 1px solid lighten($dark-grey, 60%);

                    .nav_subitems {
                        padding-left: 26px;

                        li{
                            height: 40px;
                        }

                        // Como propuesta, no quitar el padding de los elementos para tener una vision mas jerarquica
                        //de los mismos, sin embargo, se adapta al wireframe recibido
                        a{
                            padding: 0;
                        }
                    }
                }
            }

            .nav_item {
                display: flex;
                flex-direction: row;
                align-items: center;

                min-height: 56px;
                height: 56px;

                padding-left: 26px;

                color: #444444;

                text-transform: uppercase;
                text-decoration: none;
                justify-content: space-between;

                &.nav_login {
                    color: $brand-outline-color;
                    border-bottom: 3px solid $brand-outline-color;
                    height: $header_height;

                    &:hover{
                        color: white ;
                    }

                }


                @include on-event(){
                    background-color: $brand-alpha-half-color;

                    //Use important (it should be avoided) to override the default value
                    opacity: 1 !important;
                }

            }
        }

        @include breakpoint(desktop) {
            align-items: center;
            width: 73%;
            height: 100%;
            text-transform: uppercase;
            font-size: 12px;

            .nav_login{
                border: 1px solid white;
                border-radius: 4px;
                text-decoration: none;
                max-height: 54px;
                padding: 15px;
                position: absolute;
                right: 27px;
            }

            .nav_list {
                justify-content: space-around;
                width: 72%;
                padding: 0;
                margin: 0;

                .nav_list_wrapper {

                    .nav_subitems {

                        background-color:  $box-traslucent-color;

                        position: absolute;
                        z-index: 1;
                        margin: 0;
                        text-transform: capitalize;
                        box-shadow: 0 0 9px #737171;
                        padding: 0;
                        width: auto;
                        margin-top: 24px;

                        li{

                            height: 38px;
                            border-bottom: 1px solid rgba(117, 117, 117, 0.16);
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .close_nav_header{
        height: $header_height;
        min-height: $header_height;
        background-color: rgba(116, 116, 117, 0.81);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        padding: 0 27px;
        @include breakpoint(desktop){
            display: none;
        }
    }
}
