// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


//// COLORS ////
$success-color: #198052;
$error-color: #ff2643;

/// Copy text color
/// @type Color
$text-color: rgb(255, 255, 255) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;



/* BOX COLOR */
$box-traslucent-color: rgba(222, 222, 222, 0.95);

/* Fill colors  */

/// Main brand color
/// @type Color
$brand-color: #F29100 !default;
$brand-alpha-half-color : rgba($brand-color, 0.5); //Alpha 50% of main color

$linkedin_color: #007bb5;
$facebook_color: #3B5998;

$white_alpha20_color: rgba(#FFFFFF, 0.2);


/* outline colors */
$brand-outline-color: #ef6600;

$linkedin_outline_color: #3b577f;
$facebook_outline_color: #3b577f;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $assets-ur: 'http://cdn.example.com/assets/';
$assets-ur: '../../../resources/assets/' !default;
$resources-url: '../../../resources/' !default;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

//Breakpoint control
$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;
$breakpoints: (
    "phone"  :  767px,
    "desktop" : 768px
);

/* visual control */
$header_height: 72px;
