// -----------------------------------------------------------------------------
// This file contains all styles related to the hamburger menu.
// -----------------------------------------------------------------------------


.navMenu_callback{
    display: none;
}

.hamburger_menu{
    height: 18px;
    width: 18px;
    cursor: pointer;
    top: 26px;
    right: 19px;
    position: absolute;

    &.open{
        background: preload-img('menu.png') no-repeat;
        background-size: 100% 18px;
    }

    &.close{
        background: preload-img('close.png') no-repeat;
        background-size: 18px 100%;
    }

    &:hover{
        opacity: 0.8;
    }

    @include breakpoint(desktop){
        display: none;
    }
}
