// -----------------------------------------------------------------------------
// This file contains all styles related to the hamburger menu.
// -----------------------------------------------------------------------------


.navMenu_callback{
    display: none;
}

.hamburger_menu{
    height: 22px;
    width: 34px;
    cursor: pointer;

    top: 21px;
    right: 33px;
    position: absolute;

    &.open{
        background: preload-img('menu.png') no-repeat;
        background-size: 100% 23px;
    }

    &.close{
        background: preload-img('close.png') no-repeat;
        background-size: 28px 100%;
    }

    &:hover{
        opacity: 0.8;
    }

    @include breakpoint(desktop){
        display: none;
    }
}
